<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyBlog</title>
</head>
<body>
<header>
    <h1>MyBlog</h1>
    {% if user.is_authenticated %}
        <p>Nice to see you, {{ user.username }}!</p>
    {% endif %}
    <form action="{% url 'blog:article-list' %}" method="post" style="display:inline;">
        {% csrf_token %}
        <button type="submit">Back to main</button>
    </form>
    ||
    {% if user.is_authenticated %}
        <form action="{% url 'blog:logout' %}" method="post" style="display:inline;">
            {% csrf_token %}
            <button type="submit">Logout</button>
    </form>
    {% endif %}
    <br>
    <br>
    <hr>
</header>
  {% block content %}
  replace me
  {% endblock %}
</body>
</html>